/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2f4f4f;
  --ifm-color-primary-dark: #2a4747;
  --ifm-color-primary-darker: #284343;
  --ifm-color-primary-darkest: #213737;
  --ifm-color-primary-light: #345757;
  --ifm-color-primary-lighter: #365b5b;
  --ifm-color-primary-lightest: #3d6767;
  --ifm-background-color: ivory;
  /* light-mode code block background */
  --prism-background-color: #f6f8fa;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  /* dark-mode tweaks */
  --ifm-background-color: #0b0f12;
  /* page background */
  --prism-background-color: #07101a;
  /* code block background in dark mode */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.03);
}

/* Scoped dark-mode overrides for elements that clashed with custom design */
[data-theme='dark'] h1,
[data-theme='dark'] h2,
[data-theme='dark'] h3,
[data-theme='dark'] h4,
[data-theme='dark'] h5 {
  color: #e6eef1;
  /* lighter headings for contrast */
}

[data-theme='dark'] .theme-layout-footer {
  background-color: #071018;
  color: #cfe8e2;
}

[data-theme='dark'] .theme-layout-navbar {
  background-color: rgba(10, 10, 10, 0.6);
}

[data-theme='dark'] .theme-code-block {
  background-color: var(--prism-background-color);
  color: #e6eef1;
}

[data-theme='dark'] .navbar__title {
  color: #e6eef1;
}

[data-theme='dark'] .hero__title {
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  color: darkslategray;
}

.theme-layout-footer {
  background-color: darkslategray;
}

.theme-layout-navbar {
  background-color: #FDF5E6;
}

.theme-code-block {
  background-color: var(--prism-background-color);
}

.navbar__title {
  color: #2f4f4f;
}

.hero__title {
  color: ivory;
}